
@{
    ViewBag.Title = "Project Wise Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="inputEmail4">Project</label>
                        @Html.DropDownList("txtProject", new SelectList(ViewBag.Project, "Value", "Text"), "Select Project", new { id = "txtProject", @class = "form-control require" })
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPassword4">From Date</label>
                        <input type="text" class="form-control datepicker" id="FromDate" placeholder="From Date">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="inputPassword4">To Date</label>
                        <input type="text" class="form-control datepicker" id="ToDate" placeholder="To Date">
                    </div>
                    <div class="form-group col-md-1">
                        <label for="inputPassword4"> &nbsp; </label>
                        <input type="button" class="btn btn-primary form-control" id="btnSearch" value="Search">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="reportgrid"></div>


<script type="text/javascript">

    $('.datepicker').datepicker({
        dateFormat: 'dd/mm/yy'
    });

    $("#btnSearch").click(function () {

        var valid = true;

        var proj_id = $("#txtProject").val();
        var f_date = $("#FromDate").val();
        var t_date = $("#ToDate").val();
        if (proj_id) {
            $("#txtProject").removeClass("iserror");
        }
        else {
            $("#txtProject").addClass("iserror");
            valid = false;
        }

        if (f_date) {
            $("#FromDate").removeClass("iserror");
        }
        else {
            $("#FromDate").addClass("iserror");
            valid = false;
        }

        if (t_date) {
            $("#ToDate").removeClass("iserror");
        }
        else {
            $("#ToDate").addClass("iserror");
            valid = false;
        }

        if (valid) {
            $("#reportgrid").html('');
            $.ajax({
                url: '@Url.Action("GetData", "Home")',
                data: { ProjectId: proj_id, FromDate: f_date, ToDate: t_date },
                dataType: "html",
                type: "GET",
                contentType: "application/json; charset=ut-8",
                async: true,
                success: function (result) {
                    $("#reportgrid").html(result);
                },
                error: function (xhr) {
                }
            });
        }
    });

</script>
